html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0f23;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: larger;
}

a {
    text-decoration: none;
    color: #009900;
}

a:hover {
    color: #00ff00;
}

canvas {
  display: block;
}

ul {
  list-style-type: '* ';
}

table {
  font-family: "Source Code Pro", monospace;
}

th {
  color: #ffff66
}

td {
  padding: 5px;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: #0f0f23;
  z-index: 999;
}

.drag {
  opacity: 0.5;
  background-color: #858140;
}

.inputarea {
  width: 70%;
  min-width: 360px;
  top: 15%;
  height: 70%;
}

.inputarea > span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#file {
  width: 100%;
  min-width: 260px;
}

.inputarea>textarea {
  width: 100%;
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
  background: #222;
  color: #eee;
  font-size: 16px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

#start {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 24px;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
}
